#multi-search {
  font-family: "Open Sans";
  margin: 1em;
}
#multi-search * {
  font-family: inherit;
}
#multi-search .col {
  width: 50%;
  box-sizing: border-box;
  padding-left: 1%;
}
#multi-search h2 {
  font-size: 1.5em;
  padding: 0.5em 0 0.7em;
  font-family: Georgia;
}
#multi-search.hide-options-until-focus .lms-search-options {
  display: none;
}
#multi-search a.hide-search-options {
  display: block;
  text-align: right;
  font-size: 0.9em;
}
#multi-search .searchtype-options {
  padding-bottom: 1em;
}
#multi-search .searchtype-options label {
  display: block;
  cursor: pointer;
  padding: 2px 0;
  margin-right: 0.8em;
}
#multi-search .searchtype-options .filter-group {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
#multi-search .searchtype-options .filter-group-label {
  font-weight: bold;
  width: 6em;
}
#multi-search .flex-col {
  display: flex;
}
#multi-search .flex-col .col {
  width: 50%;
}
#multi-search .choose-search-wrap {
  margin: 0 0 1em;
}
#multi-search .choose-search-wrap input[name=searchsite] {
  display: none;
}
#multi-search .choose-search-wrap label {
  padding: 0.5em 1em;
  background: hsl(0deg, 0%, 97%);
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
}
#multi-search .choose-search-wrap label:hover {
  background: hsl(0deg, 0%, 94%);
  border-color: hsl(0deg, 0%, 88%);
  box-shadow: 0 0 2px hsla(0deg, 0%, 0%, 0.1) inset;
}
#multi-search .choose-search-wrap label.option-selected {
  background: hsl(50deg, 90%, 80%);
  border-color: hsl(50deg, 90%, 60%);
  border-radius: 4px;
  background-image: radial-gradient(hsl(50deg, 90%, 90%), hsl(50deg, 93%, 80%) 80%);
  pointer-events: none;
}
#multi-search .main-search-input {
  padding: 0.7em;
  font-size: 1em;
  font-weight: bold;
}

/*# sourceMappingURL=library-multi-search.css.map */
