
#multi-search {
	font-family: "Open Sans";
	* {
		font-family: inherit;
	}
	margin: 1em;
	
	.col {
		width:50%;
		box-sizing:border-box;
		padding-left: 1%;
	}
	
	h2 {
		font-size: 1.5em;
		padding: .5em 0 .7em;
		font-family: Georgia;
	}

	&.hide-options-until-focus .lms-search-options {
		display: none;
	}
	a.hide-search-options {
		display: block;
		text-align: right;
		font-size: .9em;
	}

	.searchtype-options {
		padding-bottom: 1em ;
		
		label {
			display: block;
			cursor: pointer;
			padding: 2px 0;
			margin-right: .8em;
		}

		.filter-group {
			display: flex;
			align-items: center;
			padding: .5em 0;
		}

		.filter-group-label {
			font-weight:bold;
			width: 6em;
		}
	}

	.flex-col {
		display: flex;

		.col {
			width: 50%;
		}
	}
	
	.choose-search-wrap {
		
		margin: 0 0 1em;
		
		input[name="searchsite"] {
			display: none;
		}
		label {
			padding: .5em 1em;
			background: hsl(0,0%,97%);
			display: inline-block;
			cursor: pointer;
			border: 1px solid transparent;
			
			&:hover {
				background: hsl(0,0%,94%);
				border-color: hsl(0,0%,88%);
				box-shadow: 0 0 2px hsla(0,0%,0%,.1) inset;
			}
		}
		label.option-selected {
			background: hsl(50,90%,80%);
			border-color: hsl(50,90%,60%);
			border-radius: 4px;
			background-image: radial-gradient( hsl(50,90%,90%), hsl(50,93%,80%) 80%);
			pointer-events: none;
		}
	}
	
	.main-search-input {
		padding: .7em;
		font-size: 1em;
		font-weight: bold;
	}
	
}